html {
  box-sizing: border-box;
  background-color: #dbd6d0
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border: #595652;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  padding: .6em;

}

h1 {
  color: #fff;
  text-align: center;
  font-family: 'Bevan', cursive;
}

nav li {
  display: inline-block;
  margin:0.3em;
  padding: 0.5em 0.75em;
  background-color: #713837;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}
